
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamrolebindings/finalizers
  verbs:
  - update
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamrolebindings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamroles/finalizers
  verbs:
  - update
- apiGroups:
  - aws.jackhoman.com
  resources:
  - iamroles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
  - list
  - patch
  - update
  - watch
